{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="site-wrap">
    <div class="site-blocks-cover inner-page overlay" style="background-image: url(../../static/images/bmk_ekas_org_1.jpg);" data-aos="fade" data-stellar-background-ratio="0.5">
          <div class="container">
            <div class="row align-items-center justify-content-center">
              <div class="col-md-7 text-center">
                <h1 class="mb-5"><strong>КОТЕЛЬНЫЕ</strong></h1>
              </div>
            </div>
          </div>
    </div>

    <div class="site-section">
        <div class="container">
            <div class="row">
                <div class="col-md-6 bg-image bg-sm-height mb-5 mb-md-0 order-md-2" style="background-image: url('../../static/images/bmk_ekas_org_2.jpg');" data-aos="fade-up"></div>
                <div class="col-md-6 pr-md-5 order-md-1">
                    <h2 class="display-3 line-height-xs text-black mb-4">Производство <strong>блочно-модульных котельных (БМК) |</strong></h2>
                    <p class="mb-4">Одним из основных направлений в нашей работе является производство блочно-модульных котельных (БМК) мощностью от 0.1 до 25 МВт, работающих на всех возможных видах топлива.</p>
                    <ul class="site-block-check">
                        <li>Транспортабельные котельные установки (ТКУ) модульного типа предназначены для теплоснабжения жилых, производственных и административных зданий с системами отопления и горячего водоснабжения и могут использоваться без постоянного присутствия обслуживающего персонала.</li>
                        <li>ТКУ представляют собой технологическую конструкцию, состоящую из одного и более функциональных блоков (модулей), которые при поставке Заказчику и последующей сборке образуют готовую к эксплуатации производственную мощность. Эта конструкция включает в себя все необходимые элементы для подключения к коммуникационным сетям и собирается нашей бригадой монтажников на территории заказчика.</li>
                        <li>В настоящее время котельные установки ТКУ изготавливаются с современным, качественным и высоконадежным оборудованием, обеспечивающим длительную и безопасную эксплуатацию, быстроту и удобство обслуживания.</li>
                    </ul>
                    <p class="mb-4">Опросные листы для заказа котельных различных типов:</p>
                    <p><a href="../../static/images/documents/oprosnii_list_otopitelnaa_vodogreinaa_ekas_org.doc" download="" class="btn btn-outline-primary btn-sm rounded-0 p-2 px-4">Водогрейная котельная</a></p>
                    <p><a href="../../static/images/documents/oprosnii_list_parovaa_ekas_org.doc" download="" class="btn btn-outline-primary btn-sm rounded-0 p-2 px-4">Паровая котельная</a></p>
                    <p><a href="../../static/images/documents/oprosnii_list_parovaa_variant_2_ekas_org.doc" download="" class="btn btn-outline-primary btn-sm rounded-0 p-2 px-4">Паровая котельная (вариант 2)</a></p>
                    <p><a href="../../static/images/documents/oprosnii_list_kombinirovanaa_ekas_org.doc" download="" class="btn btn-outline-primary btn-sm rounded-0 p-2 px-4">Комбинированная котельная</a></p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}