{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="site-wrap">

    <div class="site-blocks-cover inner-page overlay" style="background-image: url(../../static/images/about_us_ekas_org_1.jpg);" data-aos="fade" data-stellar-background-ratio="0.5">
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-md-7 text-center">
                    <h1 class="mb-5">Наша <strong>компания</strong></h1>
                </div>
            </div>
        </div>
    </div>

    <div class="site-section section-about">
        <div class="container">
            <div class="row mb-5 justify-content-center">
                <div class="col-md-6 text-center">
                    <h2 class="display-4 text-black mb-5">Сотрудники ГК ЭКАС |</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 pr-md-5 text-left mb-5">
                    <div>
                        <img src="../../static/images/worker_7_ekas_org.JPG" alt="Image" class="w-50 mb-5 rounded">
                        <h3>Сидоренко Александр Николаевич</h3>
                        <hr>
                            <p class="lead"><strong>Специализация:</strong> инженер-строитель в направлении теплоснабжения и вентиляции.</p>
                            <p class="lead"><strong>Профессиональные навыки:</strong> ведущий инженер в области теплотехники.</p>
                        <p><strong>Генеральный директор</strong> ГК ЭКАС</p>
                            <p class="mt-5">
{#                                <a href="https://www.facebook.com/profile.php?id=100017401423187" class="py-4 pl-0 pr-2" target="_blank"><span class="icon-facebook"></span></a>#}
{#                                <a href="https://twitter.com/echo_foe" class="py-4 pl-2 pr-2" target="_blank"><span class="icon-twitter"></span></a>#}
{#                                <a href="https://www.instagram.com/echofoe" class="py-4 pl-2 pr-2" target="_blank"><span class="icon-instagram"></span></a>#}
{#                                <a href="https://vk.com/flocksfoe" class="py-4 pl-2 pr-2" target="_blank"><span class="icon-vk"></span></a>#}
                            </p>
                    </div>
                </div>
                <div class="col-md-6 pr-md-5 text-left mb-5">
                    <div>
                        <img src="../../static/images/worker_5_ekas_org.jpg" alt="Image" class="w-50 mb-5 rounded">
                        <h3>Скорик Ираида Витальевна</h3>
                        <hr>
                            <p class="lead"><strong>Специализация:</strong> экономика и управление.</p>
{#                            <p class="lead"><strong>Профессиональные навыки:</strong> Python/Django • JavaScript • HTML • CSS • JQuery • SQL • PostgreSQL • Git</p>#}
                        <p><strong>Исполнительный директор</strong> ГК ЭКАС</p>
                            <p class="mt-5">
{#                                <a href="https://www.facebook.com/profile.php?id=100017401423187" class="py-4 pl-0 pr-2" target="_blank"><span class="icon-facebook"></span></a>#}
{#                                <a href="https://twitter.com/echo_foe" class="py-4 pl-2 pr-2" target="_blank"><span class="icon-twitter"></span></a>#}
{#                                <a href="https://www.instagram.com/echofoe" class="py-4 pl-2 pr-2" target="_blank"><span class="icon-instagram"></span></a>#}
{#                                <a href="https://vk.com/flocksfoe" class="py-4 pl-2 pr-2" target="_blank"><span class="icon-vk"></span></a>#}
                            </p>
                    </div>
                </div>
                <div class="col-md-6 pr-md-5 text-left mb-5">
                    <div>
                        <img src="../../static/images/worker_9_ekas_org.JPG" alt="Image" class="w-50 mb-5 rounded">
                        <h3>Орехов Евгений Викторович</h3>
                        <hr>
                            <p class="lead"><strong>Специализация:</strong> производство строительных металлоконструкций, строительство зданий и сооружений.</p>
                            <p class="lead"><strong>Профессиональные навыки:</strong> капитальный ремонт многоквартирных домов • реконструкция и техперевооружение котельных • изготовление БМК от 100 кВт до 20 МВт</p>
                        <p>Начальник <strong>производственного участка</strong></p>
                            <p class="mt-5">
{#                                <a href="https://www.facebook.com/profile.php?id=100017401423187" class="py-4 pl-0 pr-2" target="_blank"><span class="icon-facebook"></span></a>#}
{#                                <a href="https://twitter.com/echo_foe" class="py-4 pl-2 pr-2" target="_blank"><span class="icon-twitter"></span></a>#}
{#                                <a href="https://www.instagram.com/echofoe" class="py-4 pl-2 pr-2" target="_blank"><span class="icon-instagram"></span></a>#}
{#                                <a href="https://vk.com/flocksfoe" class="py-4 pl-2 pr-2" target="_blank"><span class="icon-vk"></span></a>#}
                            </p>
                    </div>
                </div>
                <div class="col-md-6 pl-md-5 text-left">
                    <div>
                        <img src="../../static/images/worker_3_ekas_org.jpg" alt="Image" class="w-50 mb-5 rounded">
                        <h3>Пряничников Артур Юрьевич</h3>
                        <hr>
                        <p class="lead"><strong>Специализация:</strong> инженер-строитель, эксперт промышленной безопасности по зданиям и сооружениям.</p>
                        <p class="lead"><strong>Профессиональные навыки:</strong> эксперт ПБ на объектах III класса опасности (области аттестации: Э7ЗС, Э8ЗС, Э9ЗС, Э10ЗС, Э11ЗС, Э12ЗС, Э14ЗС, Э15ЗС), специалист НК II уровня (ВИК, ПВК)</p>
                        <p>Продвинутый пользователь ПО (<strong>AutoCad</strong>, <strong>ScadOffice</strong>, <strong>PTC Mathcad</strong> и др.), имеет допуски к работам на <strong>высоте 3 уровня</strong></p>
                        <p class="mt-5">
                                <a href="https://www.instagram.com/arturprianichnikov" class="py-4 pl-2 pr-2"><span class="icon-instagram"></span></a>
                                <a href="https://vk.com/id3688608" class="py-4 pl-2 pr-2"><span class="icon-vk"></span></a>
                        </p>
                    </div>
                </div>
                <div class="col-md-6 pr-md-5 text-left mb-5">
                    <div>
                        <img src="../../static/images/worker_2_ekas_org.jpg" alt="Image" class="w-50 mb-5 rounded">
                        <h3>Гарец Павел Дмитриевич</h3>
                        <hr>
                            <p class="lead"><strong>Специализация:</strong> веб-разработчик (frontend & backend), разработчик ПО, IT-администратор.</p>
                            <p class="lead"><strong>Профессиональные навыки:</strong> Python/Django • JavaScript • HTML • CSS • JQuery • SQL • PostgreSQL • Git</p>
                        <p>Занимается проектированием и созданием <strong>сложных веб-проектов</strong>, а так же разработкой <strong>программного обеспечения</strong> для систем автоматизированного управления. Организовывает и сопровождает офисную <strong>IT-инфраструктуру</strong></p>
                            <p class="mt-5">
                                <a href="https://www.facebook.com/profile.php?id=100017401423187" class="py-4 pl-0 pr-2" target="_blank"><span class="icon-facebook"></span></a>
                                <a href="https://twitter.com/echo_foe" class="py-4 pl-2 pr-2" target="_blank"><span class="icon-twitter"></span></a>
                                <a href="https://www.instagram.com/echofoe" class="py-4 pl-2 pr-2" target="_blank"><span class="icon-instagram"></span></a>
                                <a href="https://vk.com/flocksfoe" class="py-4 pl-2 pr-2" target="_blank"><span class="icon-vk"></span></a>
                            </p>
                    </div>
                </div>
                <div class="col-md-6 pr-md-5 text-left mb-5">
                    <div>
                        <img src="../../static/images/worker_4_ekas_org.jpg" alt="Image" class="w-50 mb-5 rounded">
                        <h3>Агарков Даниил Юрьевич</h3>
                        <hr>
                            <p class="lead"><strong>Специализация:</strong> инженер-строитель, промышленный альпенист.</p>
                            <p class="lead"><strong>Профессиональные навыки:</strong> специалист НК II уровня (ВИК, ТК, МК, УК)</p>
                        <p>Продвинутый пользователь ПО (<strong>AutoCad</strong> и др.), имеет допуски к работам на <strong>высоте 2 уровня</strong></p>
                            <p class="mt-5">
{#                                <a href="https://www.facebook.com/profile.php?id=100017401423187" class="py-4 pl-0 pr-2" target="_blank"><span class="icon-facebook"></span></a>#}
{#                                <a href="https://twitter.com/echo_foe" class="py-4 pl-2 pr-2" target="_blank"><span class="icon-twitter"></span></a>#}
{#                                <a href="https://www.instagram.com/echofoe" class="py-4 pl-2 pr-2" target="_blank"><span class="icon-instagram"></span></a>#}
                                <a href="https://vk.com/agara" class="py-4 pl-2 pr-2" target="_blank"><span class="icon-vk"></span></a>
                            </p>
                    </div>
                </div>
{#                <div class="col-md-6 pr-md-5 text-left mb-5">#}
{#                    <div>#}
{#                        <img src="../../static/images/worker_noname_woman_ekas_org.jpg" alt="Image" class="w-50 mb-5 rounded">#}
{#                        <h3>Душкина Елена Владимировна</h3>#}
{#                        <hr>#}
{#                            <p class="lead"><strong>Специализация:</strong> веб-разработчик (frontend & backend), разработчик ПО, IT-администратор.</p>#}
{#                            <p class="lead"><strong>Профессиональные навыки:</strong> Python/Django • JavaScript • HTML • CSS • JQuery • SQL • PostgreSQL • Git</p>#}
{#                        <p>Занимается проектированием и созданием <strong>сложных веб-проектов</strong>, а так же разработкой <strong>программного обеспечения</strong> для систем автоматизированного управления. Организовывает и сопровождает офисную <strong>IT-инфраструктуру</strong></p>#}
{#                            <p class="mt-5">#}
{#                                <a href="https://www.facebook.com/profile.php?id=100017401423187" class="py-4 pl-0 pr-2" target="_blank"><span class="icon-facebook"></span></a>#}
{#                                <a href="https://twitter.com/echo_foe" class="py-4 pl-2 pr-2" target="_blank"><span class="icon-twitter"></span></a>#}
{#                                <a href="https://www.instagram.com/echofoe" class="py-4 pl-2 pr-2" target="_blank"><span class="icon-instagram"></span></a>#}
{#                                <a href="https://vk.com/flocksfoe" class="py-4 pl-2 pr-2" target="_blank"><span class="icon-vk"></span></a>#}
{#                            </p>#}
{#                    </div>#}
{#                </div>#}
                <div class="col-md-6 pr-md-5 text-left mb-5">
                    <div>
                        <img src="../../static/images/worker_6_ekas_org.jpg" alt="Image" class="w-50 mb-5 rounded">
                        <h3>Овсянников Александр Юрьевич</h3>
                        <hr>
                        <p>Начальник <strong>теплотехнического участка</strong> ГК ЭКАС</p>
                            <p class="mt-5">
{#                                <a href="https://www.facebook.com/profile.php?id=100017401423187" class="py-4 pl-0 pr-2" target="_blank"><span class="icon-facebook"></span></a>#}
{#                                <a href="https://twitter.com/echo_foe" class="py-4 pl-2 pr-2" target="_blank"><span class="icon-twitter"></span></a>#}
{#                                <a href="https://www.instagram.com/echofoe" class="py-4 pl-2 pr-2" target="_blank"><span class="icon-instagram"></span></a>#}
{#                                <a href="https://vk.com/flocksfoe" class="py-4 pl-2 pr-2" target="_blank"><span class="icon-vk"></span></a>#}
                            </p>
                    </div>
                </div>
            </div>
            <div class="row mt-5">
          <div class="col-12 text-center">
            <h2 class="display-5 text-black mb-5">И многие другие |</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-6 col-md-4 col-lg-3 mb-4">
            <a href="#" class="block-37">
              <div class="image" style="background-image: url(../../static/images/workers_1_ekas_org.JPG);">
                <div class="block-37-overlay">
                  <span class="icon icon-visibility"></span>
                </div>
              </div>
            </a>
          </div>
          <div class="col-6 col-md-4 col-lg-3 mb-4">
            <a href="#" class="block-37">
              <div class="image" style="background-image: url(../../static/images/workers_2_ekas_org.JPG);">
                <div class="block-37-overlay">
                  <span class="icon icon-visibility"></span>
                </div>
              </div>
            </a>
          </div>
          <div class="col-6 col-md-4 col-lg-3 mb-4">
            <a href="#" class="block-37">
              <div class="image" style="background-image: url(../../static/images/workers_3_ekas_org.JPG);">
                <div class="block-37-overlay">
                  <span class="icon icon-visibility"></span>
                </div>
              </div>
            </a>
          </div>
          <div class="col-6 col-md-4 col-lg-3 mb-4">
            <a href="#" class="block-37">
              <div class="image" style="background-image: url(../../static/images/workers_4_ekas_org.JPG);">
                <div class="block-37-overlay">
                  <span class="icon icon-visibility"></span>
                </div>
              </div>
            </a>
          </div>
{#          <div class="col-6 col-md-4 col-lg-2 mb-4">#}
{#            <a href="#" class="block-37">#}
{#              <div class="image" style="background-image: url(../../static/images/worker_noname_woman_ekas_org.jpg);">#}
{#                <div class="block-37-overlay">#}
{#                  <span class="icon icon-visibility"></span>#}
{#                </div>#}
{#              </div>#}
{#            </a>#}
{#          </div>#}
{#          <div class="col-6 col-md-4 col-lg-2 mb-4">#}
{#            <a href="#" class="block-37">#}
{#              <div class="image" style="background-image: url(../../static/images/worker_noname_woman_ekas_org.jpg);">#}
{#                <div class="block-37-overlay">#}
{#                  <span class="icon icon-visibility"></span>#}
{#                </div>#}
{#              </div>#}
{#            </a>#}
{#          </div>#}
        </div>
        </div>
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d2469.979852443604!2d36.18949521550138!3d51.75169197967602!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sru!2sru!4v1544452347109" width="100%" height="450px" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>

</div>

{% endblock content %}